<div class="page-title">
  <h1>Trabajos publicados</h1>
  <button class="add-job-posting-button" type="button">
    Agregar nueva oferta laboral
  </button>
</div>
<div class="job-postings-wrapper">
  <div class="job-postings-list">
    <div class="job-postings">
      @for (posting of jobPostings; track posting.title) {
        <article class="job" [routerLink]="['/results', posting.id]">
          @if (posting.hasNotifications) {
            <div class="notification-badge">
              {{ posting.hasNotifications }}
            </div>
          }
          <div class="company-img">
            <img src="{{ posting.companyImage }}" alt="Company Logo">
          </div>
          <div class="job-details">
            <h3 class="job-title">{{ posting.title }}</h3>
            <p class="company-name">{{ posting.companyName }}</p>
            <p class="experience">Experiencia: {{ posting.yearsOfExperience }}</p>
            <p class="requisites truncate">Requisitos: {{ posting.requirements }}</p>
          </div>
        </article>
      }
    </div>
  </div>
</div>
