* {
  box-sizing: border-box;
  font-family: 'Instrument Sans', sans-serif;
  color: #fff;
}

header {
  position: relative;
  background: linear-gradient(180deg, #FFD23C 0%, rgba(22, 22, 22, 0.5) 100%);
  height: 180px;
  margin-bottom: 20px;
}

.page-title {
  position: absolute;
  bottom: 10px;
  left: 0;

  padding: 0 18px;
  margin: 0;
  font-size: 36px;
  color: #E3E56C;
}

.add-job-posting-link {
  position: absolute;
  bottom: 10px;
  right: 0;
  padding: 0 18px;
}

.material-symbols-rounded {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;

  font-family: 'Material Symbols Rounded';
}

.job-postings-wrapper {
  padding-bottom: 20px;
}
.job-postings {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  row-gap: 16px;
  padding: 0 18px;
}

.job {
  background: rgba(181, 255, 219, 0.37);
  border-radius: 10px;
  padding-right: 16px;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  flex: 0 0 auto;
  gap: 16px;

  &:hover {
    cursor: pointer;
  }
}

.notification-badge {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: #24e507;
  color: white;
  border-radius: 50%;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: bold;
  min-width: 24px;
  text-align: center;
}

.company-img {
  max-width: 115px;
  max-height: 115px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 4px 0 4px 0 rgba(0, 0, 0, 0.25);

  img {
    width: 100%;
    height: 100%;
  }
}

.job-details {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  max-width: 280px;
  overflow: hidden;

  & > * {
    margin:0;
  }

  .truncate {
    width: 280px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
