<nav class="navbar">

  <div class="navbar-content">
    <div class="logo">Recruita</div>
    <ul class="navbar-options">
      @if (this.authService.getRole() == 'applicant') {
        <li><a routerLink="">Perfil</a></li>
        <li><a routerLink="">Postulaciones</a></li>
      } @else if (this.authService.getRole() == 'recruiter') {
        <li><a routerLink="">Perfil</a></li>
        <li><a routerLink="/manage-jobs">Trabajos publicados</a></li>
      }
      <li><a (click)="logout()">Cerrar sesión</a></li>
    </ul>
  </div>

</nav>
