<h1 class="page-title">Trabajos publicados</h1>
<div class="job-postings-wrapper">

  <div class="job-postings-list">
    <div class="job-postings">
      @for (posting of jobPostings; track posting.title) {
        @if (posting.category == 'data') {
          <article class="job">
            <div class="company-img">
              <img src="{{ posting.companyImage }}" alt="Company Logo">
            </div>
            <div class="job-details">
              <h3 class="job-title">{{ posting.title }}</h3>
              <p class="company-name">{{ posting.companyName }}</p>
              <p class="experience">Experiencia: {{ posting.yearsOfExperience }}</p>
              <p class="requisites truncate">Requisitos: {{ posting.requirements }}</p>
            </div>
          </article>
        }
      }
    </div>
  </div>
</div>
