* {
  box-sizing: border-box;
  font-family: 'Instrument Sans', serif;
  color: #fff;
}

header {
  position: relative;

  .header-image-container {
    img {
      width: 100%;
    }
  }

  .header-title {
    width: 100%;
    padding-left: 24px;
    position: absolute;
    bottom: 0;

    h1 {
      color: #E3E56C;
      font-size: 36px;
    }
  }
}

.job-postings-wrapper {
  margin-top: 24px;
}

.job-postings-title {
  color: #DADADA;
  font-weight: 600;
  font-size: 24px;
  padding-left: 24px;
}

.job-postings-list {
  // for horizontal scrolling functionality
  display: flex;
  align-items: center;
  position: relative;
}

.job-postings {
  display: flex;
  flex-flow: row nowrap;
  gap: 16px;

  // for horizontal scrolling functionality
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
  width:100%;
}

.job-postings::-webkit-scrollbar {
  display: none;
}

.job {
  background: rgba(181, 255, 219, 0.37);
  border-radius: 10px;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 16px;

  flex: 0 0 auto;

  :hover {
    cursor: pointer;
  }
}

.company-img {
  max-width: 115px;
  max-height: 115px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 4px 0 4px 0 rgba(0, 0, 0, 0.25);

  img {
    width: 100%;
    height: 100%;
  }
}

.job-details {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  max-width: 280px;
  overflow: hidden;

  & > * {
    margin:0;
  }

  .truncate {
    width: 280px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.scroll-btn {
  background: transparent;
  border: none;
  font-size:  16px;
  cursor: pointer;
  z-index: 1;
}

.job-postings-wrapper:last-of-type {
  padding-bottom: 24px;
}

.terms-and-conditions-container {
  padding: 5%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
