<header>
  <div class="header-image-container">
    <img src="/images/jobPostingsHeader.JPG" alt="Man and woman high-five each other">
  </div>
  <div class="header-title">
    <h1>Encuentra tu trabajo ideal</h1>
  </div>
</header>

@if (useApp) {
  <div class="job-postings-wrapper">
    <div class="job-postings-list">
      <div class="job-postings">
        @for (posting of jobPostings; track posting.title) {
          @if (posting.category == 'data') {
            <article class="job" [routerLink]="['/jobs', posting.id]">
              <div class="company-img">
                <img src="{{ posting.companyImage }}" alt="Company Logo">
              </div>
              <div class="job-details">
                <h3 class="job-title">{{ posting.title }}</h3>
                <p class="company-name">Empresa: {{ posting.companyName }}</p>
                <p class="experience">Experiencia: {{ posting.yearsOfExperience }}</p>
                <p class="requisites truncate">Requisitos: {{ posting.requirements }}</p>
              </div>
            </article>
          }
        }
      </div>
    </div>
  </div>
  <div class="job-postings-wrapper">
    <h2 class="job-postings-title">Explora trabajos en el mundo de la nube</h2>
    <div class="job-postings-list">
      <div class="job-postings">
        @for (posting of jobPostings; track posting.title) {
          @if (posting.category == 'cloud') {
            <article class="job" [routerLink]="['/jobs', posting.id]">
              <div class="company-img">
                <img src="{{ posting.companyImage }}" alt="Company Logo">
              </div>
              <div class="job-details">
                <h3 class="job-title">{{ posting.title }}</h3>
                <p class="company-name">Empresa: {{ posting.companyName }}</p>
                <p class="experience">Experiencia: {{ posting.yearsOfExperience }}</p>
                <p class="requisites truncate">Requisitos: {{ posting.requirements }}</p>
              </div>
            </article>
          }
        }
      </div>
    </div>
  </div>
  <div class="job-postings-wrapper">
    <h2 class="job-postings-title">Explora más trabajos en tecnología</h2>
    <div class="job-postings-list">
      <div class="job-postings">
        @for (posting of jobPostings; track posting.title) {
          @if (posting.category == 'others') {
            <article class="job" [routerLink]="['/jobs', posting.id]">
              <div class="company-img">
                <img src="{{ posting.companyImage }}" alt="Company Logo">
              </div>
              <div class="job-details">
                <h3 class="job-title">{{ posting.title }}</h3>
                <p class="company-name">Empresa: {{ posting.companyName }}</p>
                <p class="experience">Experiencia: {{ posting.yearsOfExperience }}</p>
                <p class="requisites truncate">Requisitos: {{ posting.requirements }}</p>
              </div>
            </article>
          }
        }
      </div>
    </div>
  </div>
} @else {
  <div class="terms-and-conditions-container">
    <app-terms-and-conditions
      [userId]="currentUser.id"
      (termsAndConditionsAccepted)="onTermsAccepted($event)"
    ></app-terms-and-conditions>
  </div>
}
