* {
  box-sizing: border-box;
  font-family: 'Instrument Sans', serif;
  color: #fff;
}

.no-candidates {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    color: #FFED3DFF;
    margin-top: 72px;
  }
}

.job-postings-wrapper {
  margin-top: 32px;
}

.page-title {
  position: relative;
  background: linear-gradient(180deg, #FFD23C 0%, rgba(22, 22, 22, 0.5) 100%);
  height: 180px;
  margin-bottom: 20px;
}

.job-postings-title {
  position: absolute;
  bottom: 10px;
  left: 0;

  padding: 0 18px;
  margin: 0;
  font-size: 36px;
  color: #E3E56C;
}

.others {
  font-size: 20px;
}

.job-postings-list {
  // for horizontal scrolling functionality
  display: flex;
  align-items: center;
  position: relative;
}

.top-candidates {
  width: 100%;
  margin: 0 18px;
  display: flex;
  gap: 15px;
}

.job-postings {
  display: flex;
  flex-flow: row nowrap;
  gap: 16px;

  // for horizontal scrolling functionality
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
  width: 100%;
}

.job-postings::-webkit-scrollbar {
  display: none;
}

.job {
  background-color: rgba(86, 91, 89, 0.5);

  //border: 2px solid #BDECD3;
  border-radius: 10px;
  width: 350px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 16px 12px;
  flex: 0 0 auto;

  :hover {
    cursor: pointer;
  }
}

.company-img {
  width: 130px;
  height: 130px;
  border-radius: 5px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.job-details {
  display: flex;
  flex-flow: column nowrap;
  max-width: 280px;
  overflow: hidden;

  & > * {
    margin:0;
  }

  h3 {
    font-size: 20px;
  }
}

.scroll-btn {
  background: transparent;
  border: none;
  font-size:  16px;
  cursor: pointer;
  z-index: 1;
}

.job-postings-wrapper:last-of-type {
  padding-bottom: 24px;
}

